version: "3.8"

services:
  vuln-app:
    build: ./vuln-app
    container_name: vuln-app
    ports:
      - "5000:5000"
    volumes:
      - ./vuln-app:/app
    environment:
      - FLASK_ENV=development

  wordpress:
    image: wordpress:6.4-php8.1-apache
    container_name: wp-lab
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppass
      WORDPRESS_DB_NAME: wpdb
    volumes:
      - wp_data:/var/www/html

  db:
    image: mysql:5.7
    container_name: wp-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: wpdb
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wppass
    volumes:
      - db_data:/var/lib/mysql

volumes:
  wp_data:
  db_data:
